<div class="page-header">
    <h2>Boardgame Bits Box Generator</h2>
</div>
<div class="row">
    <div class="col">
        <form method="POST" action="{{ form_target }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    <div class="clearfix">
                        <h3 class="float-left">Generation Options</h3>
                        <button type="submit" class="btn btn-primary float-right">Generate</button>
                    </div>
                </div>
            </div>
            <div id="tag" class="row">
                <div class="col">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <!-- Measurements -->
                            <div class="card-header" id="measurementHeader">
                                <h5 class="mb-0 accordion-menu">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#measurementBody" aria-expanded="true"
                                        aria-controls="collapseOne">Measurements</button></h5>
                            </div>
                            <div id="measurementBody" class="collapse show" aria-labelledby="measurementHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.width.label }}
                                        {{ form.width }}
                                        {{ form.length.label }}
                                        {{ form.length }}
                                        {{ form.height.label }}
                                        {{ form.height }}
                                    </div>
                                </div>
                            </div>
                            <!-- Images -->
                            <div class="card-header" id="imagesHeader">
                                <h5 class="mb-0 accordion-menu">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#imagesBody" aria-expanded="false"
                                        aria-controls="collapseOne">Images</button></h5>
                            </div>
                            <div id="imagesBody" class="collapse" aria-labelledby="imagesHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.main_image.label }}
                                        {{ form.main_image }}
                                        {{ form.side_image.label }}
                                        {{ form.side_image }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="card card-body bg-light">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="about-tab" href="#about" role="tab"
                        data-toggle="tab" aria-controls="about" aria-selected="true">About</a></li>
                <li class="nav-item"><a class="nav-link" id="instructions-tab" href="#instructions" role="tab"
                        data-toggle="tab" aria-controls="instructions" aria-selected="false">Instructions</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="row">
                        <div class="col-8">
                            <h4>Welcome to the Boardgame Bits Box generator.</h4>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <div class="btn-group-vertical btn-group-sm" role="group">
                                    <a href="https://github.com/sumpfork/bgtools_web" class="btn btn-default">
                                        <div class="text-right">
                                            Web
                                            <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                        </div>
                                    </a>
                                    <a href="https://github.com/sumpfork/tuckboxes" class="btn btn-default">
                                        Tuckboxes
                                        <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        I was inspired by <a
                            href="https://boardgamegeek.com/filepage/52619/custom-boxes-chitsfaltschachteln-fur-die-plattchen">
                            Michael Kröhnert's cool chitboxes for the game Shipyard</a> to write a generator that
                        can make
                        similar boxes for any game. He was nice enough to give me permission to publish the
                        generator here
                        and provide his great instructions. Note: preview only renders image
                        placeholders, full pdf will have the specified images in their place instead.
                    </p>
                    <p>
                        Sorry, the image is of a quick paper mockup I made.
                    <div id="preview_img">
                        <img alt="Boardgame Bits Boxes in Action" src="{{ static_url }}/static/images/chitbox_photo.jpg"
                            class="img-rounded img-responsive" style="width: 512px;">
                    </div>
                    </p>
                </div>
                <div class="tab-pane fade" id="instructions" role="tabpanel" aria-labelledby="instructions-tab">
                    <p>
                        These are copied from <a
                            href="https://boardgamegeek.com/filepage/52619/custom-boxes-chitsfaltschachteln-fur-die-plattchen">
                            Michael Kröhnert's pdf for the game Shipyard</a> - please find the more scalable pdf
                        version
                        there.
                    </p>
                    <p>
                        The generator will always scale images to fill the sides of the box. For best quality
                        output, I recommend using images that
                        actually have the right dimensions (width x length for the main image and width x height for
                        the
                        side image).
                    </p>
                    <p>

                        Does it actually make sense to use a different width and length? Yes, it does in the sense
                        that you can produce rectangular
                        boxes that way, and the folding will still work. However, in this case the side image will
                        get scaled
                        to two different aspect ratios (width x height as well as length x height - you could just
                        leave
                        it blank or use a uniform colour image if this bugs you) and there will be no
                        cutting/folding guides
                        because I haven't had time to do the math to figure out where they go in this case. I may do
                        a version
                        that takes two different side images to address the former problem at some point.
                    </p>
                    <p>This generator produces both the 100% scale version for the lid and the 95% scale version of
                        the same
                        image for the bottom of the box on two separate pages. Print both pages on thick paper
                        (100lb index
                        paper, about 200 g/m^2) and follow these folding/cutting instructions:
                        <img alt="Boardgame Bits Box Instructions" src="{{ static_url}}/images/chitbox_instructions.png"
                            class="img-rounded img-responsive"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var get_form_data = function () {
        var data = new FormData($('#id-tabgenoptions')[0]);
        return data;
    }
</script>