<div class="pb-2 mt-4 mb-2 border-bottom">
    <h2>Dominion Divider Generator</h2>
</div>
<div class="row">
    <div class="col">
        <form method="POST" action="/" id="id-tabgenoptions">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    <div class="clearfix">
                        <h3 class="float-left">Generation Options</h3>
                        <button type="submit" class="btn btn-primary float-right">Generate</button>
                    </div>
                </div>
            </div>
            <div id="tag" class="row">
                <div class="col">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <!-- Expansions -->
                            <div class="card-header" id="expansionHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#expansionBody" aria-expanded="true"
                                        aria-controls="collapseOne">Expansions</button></h5>
                            </div>
                            <div id="expansionBody" class="collapse show" aria-labelledby="expansionHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.expansions.label }} {{ form.expansions(class_="form-control", size="18")}}
                                        {{ form.fan_expansions.label }} {{ form.fan_expansions(class_="form-control", size="2")}}
                                    </div>
                                </div>
                            </div>
                            <!-- Page Options -->
                            <div class="card-header" id="pageHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#pageBody" aria-expanded="true"
                                        aria-controls="collapseOne">Page</button></h5>
                            </div>
                            <div id="pageBody" class="collapse" aria-labelledby="pageHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.pagesize.label }} {{ form.pagesize(class_="form-control") }}
                                        {{ form.no_footer.label }} {{ form.no_footer(class_="form-control") }}
                                        {{ form.back_offset.label }} {{ form.back_offset(class_="form-control") }}
                                        {{ form.back_offset_height.label }} {{ form.back_offset_height(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <!-- Style Options -->
                            <div class="card-header" id="styleHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#styleBody" aria-expanded="true"
                                        aria-controls="collapseOne">Style</button></h5>
                            </div>
                            <div id="styleBody" class="collapse" aria-labelledby="styleHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.orientation.label }} {{ form.orientation(class_="form-control") }}
                                        {{ form.wrappers.label }} {{ form.wrappers(class_="form-control") }}
                                        {{ form.notch.label }} {{ form.notch(class_="form-control") }}
                                        {{ form.linetype.label }} {{ form.linetype(class_="form-control") }}
                                        {{ form.cardsize.label }} {{ form.cardsize(class_="form-control") }}
                                        {{ form.horizontal_gap.label }} {{ form.horizontal_gap(class_="form-control") }}
                                        {{ form.vertical_gap.label }} {{ form.vertical_gap(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Options -->
                            <div class="card-header" id="tabHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#tabBody" aria-expanded="true"
                                        aria-controls="collapseOne">Tab</button></h5>
                            </div>
                            <div id="tabBody" class="collapse" aria-labelledby="tabHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.tab_number.label }} {{ form.tab_number(class_="form-control") }}
                                        {{ form.tab_side.label }} {{ form.tab_side(class_="form-control") }}
                                        {{ form.serpentine.label }} {{ form.serpentine(class_="form-control") }}
                                        {{ form.reset_tabs.label }} {{ form.reset_tabs(class_="form-control") }}
                                        {{ form.tab_name_align.label }} {{ form.tab_name_align(class_="form-control") }}
                                        {{ form.set_icon.label }} {{ form.set_icon(class_="form-control") }}
                                        {{ form.cost_icon.label }} {{ form.cost_icon(class_="form-control") }}
                                        {{ form.black_tabs.label }} {{ form.black_tabs(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <!-- Body Options -->
                            <div class="card-header" id="bodyHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#bodyBody" aria-expanded="true"
                                        aria-controls="collapseOne">Body</button></h5>
                            </div>
                            <div id="bodyBody" class="collapse" aria-labelledby="bodyHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.counts.label }} {{ form.counts(class_="form-control") }}
                                        {{ form.types.label }} {{ form.types(class_="form-control") }}
                                        {{ form.divider_front_text.label }} {{ form.divider_front_text(class_="form-control") }}
                                        {{ form.divider_back_text.label }} {{ form.divider_back_text(class_="form-control") }}
                                        {{ form.language.label }} {{ form.language(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <!-- Order, Groups and Extras -->
                            <div class="card-header" id="orderHeader">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#orderBody" aria-expanded="true"
                                        aria-controls="collapseOne">Order, Groups and Extras</button></h5>
                            </div>
                            <div id="orderBody" class="collapse" aria-labelledby="orderHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.order.label }} {{ form.order(class_="form-control") }}
                                        {{ form.group_special.label }} {{ form.group_special(class_="form-control") }}
                                        {{ form.base_cards_with_expansion.label }} {{ form.base_cards_with_expansion(class_="form-control") }}
                                        {{ form.upgrade_with_expansion.label }} {{ form.upgrade_with_expansion(class_="form-control") }}
                                        {{ form.events.label }} {{ form.events(class_="form-control") }}
                                        {{ form.expansion_dividers.label }} {{ form.expansion_dividers(class_="form-control") }}
                                        {{ form.centre_expansion_dividers.label }} {{ form.centre_expansion_dividers(class_="form-control") }}
                                        {{ form.expansion_dividers_long_name.label }} {{ form.expansion_dividers_long_name(class_="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="well">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#about" role="tab" data-toggle="tab">About</a></li>
                <li><a href="#changes" role="tab" data-toggle="tab">Changelog</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="about">
                    <div class="row">
                        <div class="col-9">
                            <h4>Welcome to the Dominion divider generator.</h4>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <div class="btn-group-vertical btn-group-sm" role="group">
                                    <a href="https://github.com/sumpfork/bgtools_web" class="btn btn-default">
                                        <div class="text-right">
                                            Web
                                            <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                        </div>
                                    </a>
                                    <a href="https://github.com/sumpfork/dominiontabs" class="btn btn-default">
                                        Dividers
                                        <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                    <div id="preview_img">
                        <img alt="Dividers in Action" src="{{ static_url }}/static/images/divider_photo.jpg"
                            class="img-rounded img-responsive">
                    </div>
                    </p>
                    <p>Quite a while ago, I converted my base Dominion box into a <a
                            href="http://boardgamegeek.com/thread/576889/original-box-modded-for-base-intrigue-seaside-pros">storage
                            solution for the base game + 3 expansions plus extra materials</a>. In the process, I wrote
                        a Python script (<a href="https://github.com/sumpfork/dominiontabs">get the source here</a>) to
                        generate pdfs of the dividers that I used. I then published those pdfs to <a
                            href="http://boardgamegeek.com">BoardGameGeek</a> and since then have improved them due to
                        feedback <a
                            href="http://boardgamegeek.com/filepage/59848/sumpforks-double-sided-dominion-tabs-for-all-expan">numerous
                            times.</a> However, people keep putting in requests for special versions (with cropmarks,
                        for different sets, etc.) and the file I publish keeps getting bigger and bigger due to
                        including all version. So, instead of growing the number of versions, I've decided to try
                        putting the script behind the web form on the left so those interested can generate their own
                        versions. Others have also taken my source and <a
                            href="http://boardgamegeek.com/filepage/61406/improved-sumpfork-double-sided-dominion-tabs-for-a">changed
                            it</a> if you are looking for different things.</p>
                    <p>Please note issues and requests on <a
                            href="https://github.com/sumpfork/dominiontabs/issues">github</a>, talk to fellow users <a
                            href="http://boardgamegeek.com/article/11291217">in this thread</a>, or contact <a
                            href="http://boardgamegeek.com/user/sumpfork">me</a> via <a
                            href="http://boardgamegeek.com/geekmail/compose?touser=sumpfork">BGG mail</a>. You can also
                        thumb the thread or the <a
                            href="http://boardgamegeek.com/filepage/59848/sumpforks-double-sided-dominion-tabs-for-all-expan">original
                            file thread</a> if you like these dividers, or even better post pictures of how you used
                        them - I'm always curious.</p>
                    <p>If you would like to contribute, the <a href="https://github.com/sumpfork/dominiontabs">code for
                            the generator</a> is available on github. <b>A huge thank you to all the people who have
                            contributed to this, especially wvoigt (<a
                                href="https://boardgamegeek.com/user/wvoigt">bgg</a>/<a
                                href="https://github.com/wvoigt">github</a>) and nickv2002 (<a
                                href="https://boardgamegeek.com/user/nickv2002">bgg</a>/<a
                                href="https://github.com/nickv2002">github</a>) without whom I would have no chance to
                            stay up-to-date with this project.</b></p>
                </div>
                <div class="tab-pane" id="changes">
                    {% include "version_template.html" %}
                    {% include "changelog_template.html" %}

                    Previous non-release based changelog:
                    <ul>
                        <li>Sep 22, 2016: Options to include # of cards on dividers and to generate slipcases instead of
                            dividers. Add centre-aligned tab option. Fix to Shelters colour. </li>
                        <li>July 2, 2016: Make Events exclusion apply to landmarks, too (github
                            https://github.com/sumpfork/dominiontabs/issues/67 and
                            https://github.com/sumpfork/dominiontabs/issues/66)</li>
                        <li>June 19, 2016: Empires improvements and fixes - v2.2 of generation code.</li>
                        <li>June 11, 2016: Full Empires expansion support, thanks to the great contributors at github.
                        </li>
                        <li>May 24, 2016: Expose option to group some special card groups, like Prizes.</li>
                        <li>Mar 17, 2016: Improvements to German translations.</li>
                        <li>Dec 1, 2015: Avery label fixes. More options for card texts; German translation.</li>
                        <li>Oct 19, 2015: Expose recent changes/updates: some updated card texts, more comprehensive
                            no-footer, card name and tab alignments options.</li>
                        <li>June 19, 2015: Update to get latest fixes from github, expose no text on dividers option.
                        </li>
                        <li>May 4, 2015: Updated tab images for Adventures. Single tab for Prizes, second tab for
                            Possession, fix for Scavenger.</li>
                        <li>Apr 21, 2015: Add optional individual event dividers and cumulative single event divider.
                        </li>
                        <li>Apr 20, 2015: Add Dominion: Adventures with lots of help from community. No events yet.</li>
                        <li>Dec 11, 2014: Start of Italian translation; some card text cleanup.</li>
                        <li>Jul 4, 2014: Added Prince Promo Card</li>
                        <li>Mar 5, 2014: Added new back text for Walled Village and Governor</li>
                        <li>Jan 31, 2014: Fixed Avery Labels, some missing coin images</li>
                        <li>Jan 30, 2014: Back text for Hinterland cards.</li>
                        <li>Jan 8, 2014: Fix alternating/same side tabs options.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SHOW/HIDE items that depend on others -->
<script type="text/javascript">
    $("#div_id_notch").hide();
    $("form input[name='wrappers']").click(function () {
        if (document.getElementById('id_wrappers').checked) {
            $("#div_id_notch").show();
        } else {
            $("#div_id_notch").hide();
        }
    });

    $("#div_id_centre_expansion_dividers").hide();
    $("#div_id_expansion_dividers_long_name").hide();
    $("form input[name='expansion_dividers']").click(function () {
        if (document.getElementById('id_expansion_dividers').checked) {
            $("#div_id_centre_expansion_dividers").show();
            $("#div_id_expansion_dividers_long_name").show();
        } else {
            $("#div_id_centre_expansion_dividers").hide();
            $("#div_id_expansion_dividers_long_name").hide();
        }
    });
    var get_form_data = function () {
        return new FormData($('#id-tabgenoptions')[0]);
    }
</script>