<!DOCTYPE html>
<html lang="en">

<head>
    <!--?xml version="1.0" encoding="UTF-8"?-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>sumpfork's Dominion Divider Generator</title>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2291281-4']);
        _gaq.push(['_setDomainName', 'sandflea.org']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <style>
        .asteriskField {
            display: none;
        }

        a.plainlink:hover {
            text-decoration: none;
        }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url }}/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url }}/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url }}/static/images/favicon-16x16.png">
    <link rel="manifest" href="{{ static_url }}/static/images/site.webmanifest">
</head>

<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border">
            <a class="navbar-brand" href="#">BGT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    {% for page in pages %}
                    {% if page.0 == active %}
                    <li class="nav-item active"><a class="nav-link" href="#">{{ page.1 }}</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/{{ page.0 }}/">{{ page.1 }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% with subpage = "{}.html".format(active) %}
        {% include subpage %}
        {% endwith %}
    </div>
    <script>
        previewUpdate = function () {
            var spinner = new spin.Spinner().spin()
            $('#preview_img').append(spinner.el);
            var formData = get_form_data();
            $.ajax({
                type: 'POST',
                url: '/preview/',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    spinner.stop();
                    var src = '"data:image/png;base64,' + data['preview_data'] + '"'
                    $('#preview_img').html('<img class="img-rounded img-responsive" src=' + src + '></img>');
                    $('#preview_img').zoom();
                }
            });
        };
        $(function () {
            $('input').change(previewUpdate);
            $('select').change(previewUpdate);
        });
    </script>
    <script src="{{ static_url }}/static/js/jquery.zoom.min.js"></script>
    <script src="{{ static_url }}/static/js/spin.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>