<!DOCTYPE html>
<html lang="en">

{% from 'bootstrap/utils.html' import render_messages %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-93GYFQZNK5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ ga_config }}');
    </script>
    <!--?xml version="1.0" encoding="UTF-8"?-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>sumpfork's Dominion Divider Generator</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/pdfobject@2.2.4/pdfobject.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css"> -->

    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url }}/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url }}/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url }}/static/images/favicon-16x16.png">
    <link rel="manifest" href="{{ static_url }}/static/images/site.webmanifest">

    <link rel="stylesheet" href="{{ static_url }}/static/css/domdiv.css">
</head>

<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border">
            <a class="navbar-brand" href="#">BGT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    {% for tag, title in pages.items() %}
                    {% if tag == active %}
                    <li class="nav-item active"><a class="nav-link" href="#">{{ title }}</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for(tag) }}">{{ title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {{ render_messages() }}
        {% with subpage = "{}.html".format(active) %}
        {% include subpage %}
        {% endwith %}
    </div>
    <script>
        $(function () {
            // var container = document.getElementById("previewContainer");
            // var eventBus = new pdfjsViewer.EventBus();
            // var pdfViewer = new pdfjsViewer.PDFViewer({
            //     container: container,
            //     eventBus: eventBus
            // });

            // eventBus.on("pagesinit", function () {
            //     pdfViewer.currentScaleValue = "page-width";
            // });
            previewUpdate = function () {
                //var spinner = new spin.Spinner().spin()
                //$('#preview').append(spinner.el);
                var formData = get_form_data();
                $.ajax({
                    type: 'POST',
                    url: '/preview/',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        //spinner.stop();
                        // var pdfjsLib = window['pdfjs-dist/build/pdf'];
                        // // The workerSrc property shall be specified.
                        // pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js';
                        // // Using DocumentInitParameters object to load binary data.

                        // var loadingTask = pdfjsLib.getDocument({ data: data });
                        // loadingTask.promise.then(function (pdf) {
                        //     console.log('PDF loaded');

                        //     // Fetch the first page
                        //     var pageNumber = 1;
                        //     pdf.getPage(pageNumber).then(function (page) {
                        //         console.log('Page loaded');
                        //         pdfViewer.setDocument(pdf);
                        //         // var scale = 1.5;
                        //         // var viewport = page.getViewport({ scale: scale });

                        //         // // Prepare canvas using PDF page dimensions
                        //         // var canvas = document.getElementById('pdfpreview');
                        //         // var context = canvas.getContext('2d');
                        //         // //canvas.height = viewport.height;
                        //         // //canvas.width = viewport.width;

                        //         // // Render PDF page into canvas context
                        //         // var renderContext = {
                        //         //     canvasContext: context,
                        //         //     viewport: viewport
                        //         // };
                        //         // var renderTask = page.render(renderContext);
                        //         // renderTask.promise.then(function () {
                        //         //     console.log('Page rendered');
                        //         // });
                        //     });
                        // }, function (reason) {
                        //     // PDF loading error
                        //     console.error(reason);
                        // });
                        //console.debug(data);
                        var src = '"data:application/pdf;base64,' + data['preview_pdf'] + '"';
                        
                        //console.debug(src);
                        //src = '"data:application/pdf;base64,' + data['preview_pdf'] + '"';
                        // PDFObject.embed(src, "#preview")
                        $('#preview').html('<embed src=' + src + '></embed>')
                        // $('#preview_img').html('<img class="img-rounded img-responsive" src=' + src + '></img>');
                        // $('#preview_img').zoom();
                    }
                });
            };
            $('input').change(previewUpdate);
            $('select').change(previewUpdate);
        });

    </script>
    <script src="{{ static_url }}/static/js/jquery.zoom.min.js"></script>
    <script src="{{ static_url }}/static/js/spin.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>