{% from 'bootstrap/form.html' import render_field %}
<div class="page-header">
    <h2>Tuckbox Generator</h2>
</div>
<div class="row">
    <div class="col">
        <form method="POST" action="{{ form_target }}" enctype="multipart/form-data" id="id-tabgenoptions">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    <div class="clearfix">
                        <h3 class="float-left">Generation Options</h3>
                        <button type="submit" class="btn btn-primary float-right">Generate</button>
                    </div>
                </div>
            </div>
            <div id="tag" class="row">
                <div class="col">
                    <div class="accordion" id="accordion">
                        <div class="card">
                            <!-- Measurements -->
                            <div class="card-header" id="measurementHeader">
                                <h5 class="mb-0 accordion-menu">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#measurementBody" aria-expanded="true"
                                        aria-controls="collapseOne">Measurements</button></h5>
                            </div>
                            <div id="measurementBody" class="collapse show" aria-labelledby="measurementHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ render_field(form.width) }}
                                        {{ render_field(form.height) }}
                                        {{ render_field(form.depth) }}
                                    </div>
                                </div>
                            </div>
                            <!-- Images -->
                            <div class="card-header" id="imagesHeader">
                                <h5 class="mb-0 accordion-menu">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#imagesBody" aria-expanded="false"
                                        aria-controls="collapseOne">Images</button></h5>
                            </div>
                            <div id="imagesBody" class="collapse" aria-labelledby="imagesHeader"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ render_field(form.front_image) }}
                                        {{ render_field(form.side_image) }}
                                        {{ render_field(form.back_image) }}
                                        {{ render_field(form.end_image) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="card card-body bg-light">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="about-tab" href="#about" role="tab"
                        data-toggle="tab" aria-controls="about" aria-selected="true">About</a></li>
                <li class="nav-item"><a class="nav-link" id="preview-tab" href="#preview-pane" role="tab"
                        data-toggle="tab" aria-controls="preview-pane" aria-selected="false">Preview</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <div class="row">
                        <div class="col-8">
                            <h4>Welcome to the tuckbox generator.</h4>
                        </div>
                        <div class="col">
                            <div class="text-right">
                                <div class="btn-group-vertical btn-group-sm" role="group">
                                    <a href="https://github.com/sumpfork/bgtools_web" class="btn btn-default">
                                        <div class="text-right">
                                            Web
                                            <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                        </div>
                                    </a>
                                    <a href="https://github.com/sumpfork/tuckboxes" class="btn btn-default">
                                        Tuckboxes
                                        <img src="{{ static_url }}/static/images/GitHub-Mark-32px.png" width="16">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        A while ago, I produced a script to produce some card tuckboxes for some of my games. The
                        preview below only shows the outlines with placeholders,
                        but the full pdf will have the images you upload. The limited options are currently to set a
                        background colour that will
                        render on the sides and ends, either if you don't specify an image to use there, or if you
                        preserve the aspect ratio of the image
                        used there, and the image fails to cover the entire side or end.
                    <div>
                        <img alt="Tuckboxes in Action" src="{{ static_url }}/static/images/tuckbox_photo.jpg"
                            class="img-rounded img-responsive">
                    </div>

                    </p>
                </div>
                <div class="tab-pane fade" id="preview-pane" role="tabpanel" aria-labelledby="preview-tab">
                    <div id="previewContainer">
                        <div id="preview" width="512" height="900"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var get_form_data = function () {
        var data = new FormData($('#id-tabgenoptions')[0]);
        return data;
    }
</script>